.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box-img {
    padding: 1em;
}

.oculto {
    display: none;
}

.link {
    color: #007bff;
    background-color: transparent;
}

.link:hover {
    color: #0056b3;
    background-color: transparent;
    cursor: pointer
}